<header>
  <h1>Stuff Exchange</h1>
  <nav>
    <ul>
      <li><a href="/items">Search Items</a></li>
      <li><a href="/items/new">Create Item</a></li>
      <li><a href="/">Homepage</a></li>
    </ul>
  </nav>
</header>