<header>
  <h1>Stuff Exchange</h1>
  <nav>
    <ul>
      <li><a href="/">Homepage</a></li>
      
      <% if (currentUser) { %>

        <li><a href="/items">Browse Items</a></li>
        <li><a href="/conversations">Inbox</a></li>
        <li><a href="/items/myitems">My Items</a></li>
        <li><a href="/items/new">Post an Item</a></li>
        <li><a href="/users/logout">Logout</a></li>

      <% } else { %>

        <li><a href="/users/signup">Signup</a></li>
        <li><a href="/users/login">Login</a></li>

      <% } %>

    </ul>
  </nav>
</header>