<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head', { title: 'Account' }); %>
<body>
  <%- include('./partials/header', { currentUser }) %>
  <h1>My Account</h1>
  <p>User: <%= currentUser.username %></p>

  <p>Email: <%= currentUser.email %></p>

  <a href="/users/logout"><button>Logout</button></a>
</body>
</html>