<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head', { title: 'Login'}); %>
<body>
  <h1>Log In to Your Account</h1>

  <form action="/login" method="POST">
    <div>
      <label for="username">Username:</label>
      <input type="text" name="username">
    </div>

    <div>
      <label for="password">Password:</label>
      <input type="text" name="password">
    </div>

    <button type="submit">Log In</button>
  </form>
</body>
</html>