<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head', { title: 'Search Items' }) %>
</head>
<body>

  <%- include('../partials/header', { currentUser: currentUser }) %>

  <h2>All Items</h2>

  <ul>
    <% allItems.forEach((item) => { %>
      <%- include('../partials/itemCard', { item: item }); %>
    <% }); %>
  </ul>
</body>
</html>